#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Auryn
Comment=Simple GTK GUI wrapper for streamrip
Exec=Auryn
Icon=Auryn
Terminal=false
Type=Application
Categories=Audio;Music;
StartupNotify=true
