#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Qrip
Comment=Simple GTK GUI wrapper for streamrip
Exec=qrip
Icon=qrip
Terminal=false
Type=Application
Categories=Audio;Music;
StartupNotify=true
